PORT=3030
DB_NAME=yc_fitness
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306
JWT_SECRET="EpCuQYRpXx+BNigl2uMBraVXi90RzFqQsKHYJYk7wgw="

# OSS Configuration
OSS_END_POINT=https://sgp1.digitaloceanspaces.com
OSS_ACCESS_KEY=DO80132CTQMHHXY6RKWD
OSS_SECRET_KEY=Jp3Zt4zIW42siHeqGMXLebATabpeaXYsSYgCEJZkU/E
OSS_REGION=sgp1

# Mail Configuration
MAIL_USERNAME="aungpaingsoe097238@gmail.com"
MAIL_PASSWORD="dlsl afbl iwsj dpxv"