PORT=3030
DB_NAME=yc_fitness
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=3306
DATABASE_URL="mysql://user:password@localhost:3306/yc_fitness?connection_limit=5"
JWT_SECRET="EpCuQYRpXx+BNigl2uMBraVXi90RzFqQsKHYJYk7wgw="

# OSS Configuration
OSS_END_POINT=
OSS_ACCESS_KEY=
OSS_SECRET_KEY=
OSS_REGION=

# Mail Configuration
MAIL_USERNAME="aungpaingsoe097238@gmail.com"
MAIL_PASSWORD="dlsl afbl iwsj dpxv"