node_modules
# Keep environment variables out of version control
.env
public/uploads
dist

mysql_data
phpmyadmin

# Local SQLite databases
prisma/db/*.db
prisma/db/*.db-journal
prisma/db/*.db-wal
prisma/db/*.db-shm